body{
background-image: url(índice1.jpg);
 display: table;
  width: 80%;
  height: 80vh;
  padding: 10px 0;
  color: rgb(14, 12, 12);
 background-position: 20% 45%;
  background-size: cover;
  font-size: 40px;
  text-align: center;
}
.div{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    
}
.texto{
    width: 700px;
  border: 5px solid rgb(8, 10, 8);
  padding: 50px;
  margin: 20px;
  background: rgb(133, 133, 167);
}
.image{
    box-shadow: 10px 10px rgb(127, 127, 236);
 
}

